<p class="m-3"> Please click on Add button to add the Medicines in the table</p>

<div class="form-group row">

    <div class="col-md-8 ml-4">
        <input class="form-control" id="medicineNameId" type="text" [formControl]="searchbox"
            placeholder="Enter the medicine name or description to filter the results" />

    </div>
</div>



<div *ngIf="availableMedicines$ | async as medicines" class="card-deck">
    <app-card *ngFor="let medicine of medicines" [medicine]="medicine" (addMedicineEvent)="addMedicine($event)"
        (updateMedicineEvent)="updateMedicine($event)"></app-card>
</div>